<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <a href="" routerLink='home' routerLinkActivated>Home | </a>
      <a href="">About Us | </a>
      <a href="">Contact Us</a>
    </div>
    <div class="col-sm-4">Copyright 2019 Anurag</div>
    <div class="col-sm-4">
      <a href="https://www.facebook.com/anurag.choudhary.1213"><img class="style1" src=".\assets\icon4.png" /></a>
      <img class="style1" src=".\assets\icon5.png"/>
      <img class="style1" src=".\assets\icon6.png"/>
    </div>
  </div>
</div>
